body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: content-box;
}
header {
  background: linear-gradient(270deg, #03001e, #7303c0, #ec38bc, #fdeff9);
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-weight: 700;
  color: #fff;
  background: linear-gradient(
    90deg,
    #ff00ff,
    #00ffff,
    #00ff00,
    #ffff00,
    #ff0000,
    #ff00ff
  );
  background-size: 400%;
  background-clip: text;
  color: transparent;
  animation: neon_rainbow 6s linear infinite;
}

@keyframes neon_rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.section-title {
  text-align: center;
}
#about {
  padding: 10px 0;
  background: linear-gradient(white, grey);
  text-align: center;
}

#about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

#about img:hover {
  transform: translate(-3px, 3px) scale(1.05);
  box-shadow: 5px 5px rgb(0, 0, 0);
}

#projects {
  width: 40%;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid black;
  background-color: white;
}

#wrapper {
  display: flex;
  width: 400%;
  height: 100%;
  animation: slide 15s infinite;
}

.project-slot {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-slot img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@keyframes slide {
  0%,
  30% {
    transform: translateX(0);
  }

  33.33%,
  63.33% {
    transform: translateX(-25%);
  }

  66.66%,
  96.66% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(white, grey);
}
footer p {
  border: 3px solid red;
  background-color: white;
}

#contacts {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  bottom: 0;
  height: 100px;
  border: none;
  background: transparent;
}

#contacts a {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#contacts img {
  margin: auto;
  border-radius: 50%;
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

#contacts img:hover {
  transform: translate(-6px, -6px);
  box-shadow: 5px 5px black;
}

@media (max-width: 768px) {
  #projects {
    width: 90%;
    height: auto;
  }

  #wrapper {
    width: 400%;
  }

  footer {
    width: 100%;
  }

  header h1 {
    font-size: 24px;
  }
}